@font-face {
	font-family: 'WorkSans';
	src: url('fonts/WorkSans.ttf');
}

@font-face {
	font-family: 'Poppins';
	src: url('fonts/Poppins/Regular.woff2');
}

.theme-light {
	--text-color: #292a2d;
	--background-color: rgb(255, 255, 255);
	--hover-color: hsla(0, 0%, 0%, 0.15);

	color-scheme: light;
}

.theme-dark {
	--text-color: white;
	--background-color: #292a2d;
	--hover-color: hsla(0, 0%, 100%, 0.15);

	color-scheme: dark;
}

.theme-light .dark-only {
	display: none;
}

.theme-light .light-only {
	display: revert;
}

.theme-dark .light-only {
	display: none;
}

.theme-dark .dark-only {
	display: revert;
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: #292a2d;
		--background-color: white;
		--hover-color: hsla(0, 0%, 0%, 0.15);

		color-scheme: light;
	}

	.dark-only {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: white;
		--background-color: #292a2d;
		--hover-color: hsla(0, 0%, 100%, 0.15);

		color-scheme: dark;
	}

	.light-only {
		display: none;
	}
}

* {
	--pad-default: 1rem;
	--gap-default: 1rem;

	--theme-color: hsl(202, 81%, 48%);
	--spacing: 10vw;

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	display: flex;
	flex-flow: column nowrap;
	min-width: 26rem;
	font-size: 1rem;
	font-family: 'Poppins', 'Roboto', Tahoma, sans-serif;
}

svg {
	fill: currentColor;
}

main {
	min-height: 100vh;
	color: var(--text-color);
	background-color: var(--background-color);
}

button {
	color: inherit;
	background: none;
	border: none;
	outline: none;
	text-align: inherit;
}

button:hover,
button:focus {
	box-shadow: inset 0 0 100rem var(--hover-color);
}

input,
select {
	min-height: 1.5rem;
	margin: 0.5rem;
	padding: 0.25rem 0.5rem;
}

input[type='checkbox'] {
	width: 1rem;
	height: 1rem;
}

input[type='color'] {
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	padding: 0;
}

input[type='color']::-webkit-color-swatch {
	border: none;
	border-radius: 50%;
	padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
	border: none;
	border-radius: 50%;
	padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}

h1,
.fs1 {
	margin-block-start: var(--spacing);
	font-size: clamp(2rem, 1.1429rem + 3.8095vw, 4rem);
	font-weight: lighter;
}

h2,
.fs2 {
	font-size: clamp(1rem, 0.7857rem + 0.9524vw, 1.5rem);
	font-weight: normal;
}

a {
	text-decoration: none;
}

.scrollable {
	position: relative;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

.row {
	--gap: var(--gap-default);

	display: flex;
	flex-flow: row nowrap;
	width: 100%;

	gap: var(--gap);
}

.col {
	--gap: var(--gap-default);

	display: flex;
	flex-flow: column nowrap;
	width: 100%;

	gap: var(--gap);
}

.flex-auto {
	flex: 1 1 auto;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.pad {
	--pad: var(--pad-default);

	padding: var(--pad);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.display-none {
	display: none;
}

.text-align-center {
	text-align: center;
}
