.theme-light {
	--text-color: #292a2d;
	--background-color: rgb(255, 255, 255);
	--hover-color: hsla(0, 0%, 0%, 0.15);

	color-scheme: light;
}

.theme-dark {
	--text-color: white;
	--background-color: #292a2d;
	--hover-color: hsla(0, 0%, 100%, 0.15);

	color-scheme: dark;
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: #292a2d;
		--background-color: white;
		--hover-color: hsla(0, 0%, 0%, 0.15);

		color-scheme: light;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: white;
		--background-color: #292a2d;
		--hover-color: hsla(0, 0%, 100%, 0.15);

		color-scheme: dark;
	}
}

* {
	--pad-default: 1rem;
	--gap-default: 1rem;

	--theme-color: hsl(202, 81%, 48%);

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html,
body {
	overflow: hidden;
}

body {
	display: flex;
	flex-flow: column nowrap;
}

svg {
	fill: currentColor;
}

main {
	min-height: 100vh;
	color: var(--text-color);
	background-color: var(--background-color);
}

button {
	color: inherit;
	background: none;
	border: none;
	outline: none;
	text-align: inherit;
}

button:hover,
button:focus {
	box-shadow: inset 0 0 100rem var(--hover-color);
}

input,
select {
	min-height: 1.5rem;
	margin: 0.5rem;
	padding: 0.25rem 0.5rem;
}

input[type='checkbox'] {
	width: 1rem;
	height: 1rem;
}

input[type='color'] {
	cursor: pointer;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	padding: 0;
}

input[type='color']::-webkit-color-swatch {
	border: none;
	border-radius: 50%;
	padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
	border: none;
	border-radius: 50%;
	padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
}

h1 {
	font-size: 2rem;
	font-weight: lighter;
}

h2 {
	/*margin: 1rem 1rem 0.75rem 1rem;*/
	font-size: 1.5rem;
	font-weight: normal;
}

a {
	text-decoration: none;
}

.scrollable {
	position: relative;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

.row {
	--gap: var(--gap-default);

	display: grid;
	grid-template-rows: 1fr;
	grid-auto-columns: auto;
	grid-auto-flow: column;
	justify-content: space-between;
	align-items: center;

	gap: var(--gap);
}

.row.equal {
	grid-auto-columns: 1fr;
}

.col {
	--gap: var(--gap-default);

	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	gap: var(--gap);
}

.col.equal {
	grid-auto-rows: 1fr;
}

.pad {
	--pad: var(--pad-default);

	padding: var(--pad);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.display-none {
	display: none;
}

.text-align-center {
	text-align: center;
}
